*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}

body{
  margin: 0 15rem;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

nav a{
  text-decoration: none;
}

.topbar{
  background-color: #279EFF;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.topbar img{
  width: 60px;
  height: auto; 
  align-self: flex-start;
}

.topbar ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.topbar li{
  font-size: 1.1rem;
}

nav a:hover{
  font-weight: bold;
  font-size: 1.2rem;
}

main{
  margin-top: 1rem;
  display: flex;
  
}

#content{
  border-radius: 1rem;
  padding : 1rem;
  flex: 5;
  background-color: #279EFF;
  margin-right: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

#about{
  text-indent: 2rem;
  background-color: #279EFF;
  border-radius: 1rem;
  padding: 1rem;
  text-align: justify;
}

#content img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

main aside{
  border-radius: 1rem;
  margin-right: 2rem;
  flex : 2;
  background-color: #40F8FF;
}

#profile{
  padding: 1rem;
  text-align: left;
  background-color: #279EFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

#profile header{
  text-align: center;
}

#profile img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin: 1rem 0;
}

#experience{
  margin-top: 1rem;
  display: flex;
  border-radius: 1rem;
  justify-content: space-evenly;
  
}

#experience #job{
  background-color: #279EFF;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

#experience #job figure img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

footer{
  margin-top: 1rem;
  background-color: #279EFF;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  text-align: center;
  color: #fff;
}
